.thumbnail{
    width: 100%;
}
nav{
    margin-bottom: 13px;
}
.jumbotron{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f4f4f4' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23eaeaea' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e0e0e0' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23d5d5d5' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23cbcbcb' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c1c1c1' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b7b7b7' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23adadad' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a3a3a3' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%239a9a9a' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23909090' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23868686' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%237d7d7d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23747474' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%236b6b6b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23626262' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23595959' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    color: white;
}
