.thumbnail{
    width: 100%;
}
nav{
    margin-bottom: 13px;
}
.jumbotron{
    background-image: linear-gradient(rgb(246, 245, 245), rgb(235, 235, 235));

    color: black;
    border-bottom: 3px solid rgb(222, 222, 222);
    border-radius: 13px;
}
hr{
    border: none;
    height: 6px;
    background-image:
    linear-gradient(90deg,rgb(200,200,200), rgb(245, 245, 245))
}
